name: on push master
on:
  push:
    branches:
      - main

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
      - run: npm i @antora/lunr-extension && cd build && npx --yes antora --stacktrace local-preview-site.yml && export SITE_SEARCH_PROVIDER="lunr"
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY }}"
          projectId: nativescript-docs-26174
          channelId: live
